# RPC Configuration
NEXT_PUBLIC_RPC_URL=https://mantle-sepolia.g.alchemy.com/v2/kwgGr9GGk4YyLXuGfEvpITv1jpvn3PgP

# WalletConnect Configuration
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id_here

# Chain Configuration
NEXT_PUBLIC_CHAIN_ID=5003

# Contract Addresses
NEXT_PUBLIC_IDENTITY_REGISTRY_ADDRESS=0x4826533B4897376654Bb4d4AD88B7faFD0C98528
NEXT_PUBLIC_COMPLIANCE_REGISTRY_ADDRESS=0x99bbA657f2BbC93c02D617f8bA121cB8Fc104Acf
NEXT_PUBLIC_ASSET_FACTORY_ADDRESS=0x8f86403A4DE0BB5791fa46B8e795C547942fE4Cf
NEXT_PUBLIC_RWA_TOKEN_IMPLEMENTATION_ADDRESS=0x0E801D84Fa97b50751Dbf25036d067dCf18858bF
NEXT_PUBLIC_MANTLE_GOLD_ADDRESS=0xf7b407BD806B9943C1b2281271B27DC3F3baE694
